In [1]:
from app import project_dir
import os
import sqlite3

In [3]:
with open(os.path.join(project_dir, 'chatbot', 'db', 'tickers', 'tickers_big.txt'), 'r') as file:
    tickers = file.read().splitlines()

In [7]:
con = sqlite3.connect(os.path.join(project_dir, 'BotDB.db'))
cursor = con.cursor()

In [16]:
date = '2023-06-06 00:00:00'
for ticker in tickers:
    cursor.execute(f"DELETE FROM '{ticker}' WHERE begin = '2023-06-06 00:00:00'")
con.commit()

In [12]:
from finance.FinTimeSeries import FinTimeSeries

In [13]:
start = '2023-06-06'
end = start
ts = FinTimeSeries('SBER', 24, start, end)
ts.data

                 begin    open   high     low   close     volume
0  2023-06-06 00:00:00  235.92  242.1  232.54  240.91  100640180

In [17]:
for ticker in tickers:
    start = '2023-06-06'
    end = start
    ts = FinTimeSeries(ticker, 24, start, end)
    ts.data['timeframe'] = 'd'
    ts.data.to_sql(name=ticker, con=con, index=False, if_exists='append')