In [1]:
from app import project_dir
import os
import sqlite3

In [2]:
with open(os.path.join(project_dir, 'chatbot', 'db', 'tickers', 'tickers_big.txt'), 'r') as file:
    tickers = file.read().splitlines()

In [3]:
con = sqlite3.connect(os.path.join(project_dir, 'BotDB.db'))
cursor = con.cursor()

In [4]:
import pandas as pd

In [6]:
date = '2023-06-06 00:00:00'
df = pd.DataFrame()
df['ticker'] = tickers
df['date'] = date
df['timeframe'] = 'd'
df

      ticker                 date timeframe
0       LKOH  2023-06-06 00:00:00         d
1       VTBR  2023-06-06 00:00:00         d
2       SBER  2023-06-06 00:00:00         d
3       FLOT  2023-06-06 00:00:00         d
4       MTSS  2023-06-06 00:00:00         d
..       ...                  ...       ...
239     URKZ  2023-06-06 00:00:00         d
240    VSYDP  2023-06-06 00:00:00         d
241    YKENP  2023-06-06 00:00:00         d
242     ASSB  2023-06-06 00:00:00         d
243  VEON-RX  2023-06-06 00:00:00         d

[244 rows x 3 columns]

In [7]:
df.to_sql(name='tickers', con=con, index=False)