In [1]:
import sqlite3
from app import project_dir
from finance.FinTimeSeries import FinTimeSeries

In [2]:
with open('tickers_big.txt', 'r') as file:
    tickers = file.read().splitlines()

In [3]:
con = sqlite3.connect("BotDB.db")

In [4]:
cursor = con.cursor()
timeframe = 24
start = '2020.01.01'
end = '2024.01.01'
for ticker in tickers:
    ts = FinTimeSeries(ticker, timeframe, start, end)
    ts.data['timeframe'] = 'd'
    ts.data.to_sql(name=ticker, con=con, index=False)

In [5]:
import pandas as pd

In [12]:
ticker = 'VTBR'
df = pd.read_sql(f'select * from {ticker}', con=con)
df = df.drop(columns=['timeframe'])
df

                   begin      open      high       low     close        volume
0    2020-01-03 00:00:00  0.046145  0.046340  0.045995  0.046240   11909550000
1    2020-01-06 00:00:00  0.046110  0.046195  0.045930  0.046110    8017580000
2    2020-01-08 00:00:00  0.046210  0.047000  0.046200  0.046525   28820270000
3    2020-01-09 00:00:00  0.046830  0.047300  0.046575  0.047075   29512690000
4    2020-01-10 00:00:00  0.047150  0.047890  0.047005  0.047600   29926040000
..                   ...       ...       ...       ...       ...           ...
841  2023-05-31 00:00:00  0.022360  0.022475  0.021955  0.022200  176541100000
842  2023-06-01 00:00:00  0.022250  0.022360  0.021265  0.021425  194516060000
843  2023-06-02 00:00:00  0.020500  0.022750  0.020230  0.022630  622221870000
844  2023-06-05 00:00:00  0.022700  0.023030  0.021700  0.021905  299508140000
845  2023-06-06 00:00:00  0.021830  0.022625  0.021460  0.022320  205321840000

[846 rows x 6 columns]

In [29]:
ticker = 'VTBR'

df = pd.read_sql('select * from LKOH where open BETWEEN :pl and :ph', params={'pl': 56, 'ph': 62}, con=con)
df

Empty DataFrame
Columns: [begin, open, high, low, close, volume]
Index: []

In [31]:
start = '2022-01-01'
end = '2023-01-01'
df = pd.read_sql(''' SELECT * FROM LKOH WHERE begin BETWEEN :start and :end  ''', con=con, params={'start': start, 'end':end})
df

                   begin    open    high     low   close   volume
0    2022-01-03 00:00:00  6592.0  6705.5  6586.0  6683.0   610921
1    2022-01-04 00:00:00  6688.0  6741.0  6627.0  6728.0   551239
2    2022-01-05 00:00:00  6715.5  6755.0  6501.0  6522.0   972892
3    2022-01-06 00:00:00  6530.0  6706.0  6459.0  6699.0   906403
4    2022-01-10 00:00:00  6730.0  6880.0  6650.5  6775.0  1238121
..                   ...     ...     ...     ...     ...      ...
229  2022-12-26 00:00:00  4014.0  4047.0  4000.0  4010.0   380715
230  2022-12-27 00:00:00  4020.0  4035.0  4011.0  4028.5   392368
231  2022-12-28 00:00:00  4032.5  4040.0  4010.0  4015.5   374999
232  2022-12-29 00:00:00  4017.0  4035.0  4015.5  4022.0   274674
233  2022-12-30 00:00:00  4030.5  4088.0  4022.5  4069.5   454463

[234 rows x 6 columns]

In [7]:
ts = FinTimeSeries('SBER', 60, '2021.01.01', '2022.01.01')
ts.data

                    begin    open    high     low   close   volume
0     2021-01-04 09:00:00  274.67  274.67  274.67  274.67   123460
1     2021-01-04 10:00:00  274.67  274.67  273.10  273.94  5217270
2     2021-01-04 11:00:00  273.99  274.49  272.54  273.95  5296560
3     2021-01-04 12:00:00  273.95  276.28  273.93  276.00  7927210
4     2021-01-04 13:00:00  275.98  276.23  275.02  275.30  2635420
...                   ...     ...     ...     ...     ...      ...
3877  2021-12-30 19:00:00  293.61  294.15  293.00  293.85  1320830
3878  2021-12-30 20:00:00  293.85  294.15  293.58  294.00   618200
3879  2021-12-30 21:00:00  294.00  294.89  293.88  294.81  1946960
3880  2021-12-30 22:00:00  294.81  294.81  294.00  294.05   762560
3881  2021-12-30 23:00:00  294.06  294.24  293.11  293.49   960310

[3882 rows x 6 columns]