In [1]:
import sqlite3

In [2]:
from app import project_dir

In [3]:
con = sqlite3.connect("ts.db")

In [4]:
cursor = con.cursor()

In [6]:
cursor.execute("""CREATE TABLE LKOH
                (id INTEGER PRIMARY KEY AUTOINCREMENT,
                begin TEXT,
                timeframe TEXT,
                high REAL,
                close REAL,
                low REAL,
                open REAL,
                volume REAL)
            """)

In [14]:
cursor = con.cursor()
params = ('01-01-2020', 'd', 172.45, 174.56, 138.32, 156.7, 55454353)
cursor.execute("INSERT INTO LKOH (begin, timeframe, close, high, open, low, volume) VALUES (?, ?, ?, ?, ?, ?, ?)", params)
con.commit()

In [16]:
from finance.FinTimeSeries import FinTimeSeries

ts = FinTimeSeries('SBER', 24, '2022.01.01', '2023.01.01')
ts.data.to_sql(name='VTBR', con=con, index=False)

In [17]:
import pandas as pd

In [18]:
df = pd.read_sql('select * from VTBR', con=con)
df

                   begin    open    high     low   close    volume
0    2022-01-03 00:00:00  295.90  305.50  294.34  305.47  50183170
1    2022-01-04 00:00:00  305.51  310.10  301.63  304.24  53270410
2    2022-01-05 00:00:00  303.72  304.26  287.00  287.01  70017630
3    2022-01-06 00:00:00  286.60  295.10  281.00  293.92  79380930
4    2022-01-10 00:00:00  295.52  298.88  288.68  291.69  67426550
..                   ...     ...     ...     ...     ...       ...
229  2022-12-26 00:00:00  138.33  141.00  138.00  140.95  49379370
230  2022-12-27 00:00:00  141.31  142.00  139.60  139.90  41654530
231  2022-12-28 00:00:00  139.73  140.40  138.60  139.51  28045010
232  2022-12-29 00:00:00  139.50  141.65  139.22  140.96  32059860
233  2022-12-30 00:00:00  140.80  141.48  140.13  141.15  28175080

[234 rows x 6 columns]

In [21]:
df.dtypes

begin      object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

In [22]:
ts = FinTimeSeries('SBER', 24, '2022.01.01', '2023.01.01')
ts.data.dtypes

begin      object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object